<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication2.Properties.Settings.registrationConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=registration;Persist Security Info=True;User ID=kkg;Password=Pr0fT3rry"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>